<div>
    <div *ngFor="let ov of overtredingen">
        <p>id: {{ov.id}}</p>
        <p>datum_vaststelpng_jaar: {{ov.datum_vaststelpng_jaar}}</p>
        <p>datum_vaststelpng_jaar: {{ov.datum_vaststelpng_maand}}</p>
        <p>datum_vaststelpng: {{ov.datum_vaststelpng}}</p>
        <p>opnameplaats_straat: {{ov.opnameplaats_straat}}</p>
        <p>opnameplaats_rijrichting_gaand: {{ov.opnameplaats_rijrichting_gaand}}</p>
        <p>opnameplaats_zone_snelheid: {{ov.opnameplaats_zone_snelheid}}</p>
        <p>aantal_passanten: {{ov.aantal_passanten}}</p>
        <p>aantal_overtredingen_snelheid: {{ov.aantal_overtredingen_snelheid}}</p>
        <p>aantal_overtredingen_roodpcht: {{ov.aantal_overtredingen_roodpcht}}</p>
        <br>
    </div>
</div>